	<!doctype html>
	<html ng-app="tictactoe">
	<head>
		<title></title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script type="text/javascript" src="angularjs.js"></script> 
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-controller="Grid">
		<div class="gridcontainer">	
			<div class="row" ng-repeat="row in cells track by $index">
				<div class="column" 
				ng-click="changeColor(cell)"
				ng-class="{black:isSet(xMoves, cell), blue: isSet(oMoves, cell)}"
				ng-repeat="cell in row track by $index">
				</div>
			</div>
		</div>
	</body>
</html>


